.intro {
  color: #97d8cf;
  font-style: italic;
}
img {
  float: center;
}
.sidebar {
  width: 30%;
  float: right;
  background-color: salmon;
}
.column {
  width: 300px;
  float: left;
}
h2 {
  color:#FF69B4;
  font-style: oblique;
}
.goodbye {
  color:turquoise;
}
.my-class {
  border: 2px turquoise;
  padding: 10px;
  background-color:#FFFDD0;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: teal;
}
.Centered-Image {
  width: 50%;
  height: auto;
}